hr {
    height: 4px;
    margin-right: 15px;
    margin-bottom: -3px;
}

.hr-warning {
    background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, .8), rgba(210, 105, 30, .6), rgba(0, 0, 0, 0));
}

.hr-success {
    background-image: -webkit-linear-gradient(left, rgba(15, 157, 88, .8), rgba(15, 157, 88, .6), rgba(0, 0, 0, 0));
}

.hr-primaryRight {
    background-image: -webkit-linear-gradient(right, rgba(66, 133, 244, .8), rgba(66, 133, 244, .6), rgba(0, 0, 0, 0));
}

.hr-primaryLeft {
    background-image: -webkit-linear-gradient(left, rgba(66, 133, 244, .8), rgba(66, 133, 244, .6), rgba(0, 0, 0, 0));
}

.hr-danger {
    background-image: -webkit-linear-gradient(left, rgba(244, 67, 54, .8), rgba(244, 67, 54, .6), rgba(0, 0, 0, 0));
}

body {
    padding-top: 70px;
}

.v-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    /*max-width: 600px;*/
}

//  Progress Bar
//  html {
text-align: center;

}
.black {
    color: #000000;
}
.left {
    text-align: left;
}
progress[value] {
    width: 60px;
    height: 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: auto;
    color: #fff;
    background: -moz-linear-gradient(left, #0057a9 0%, #0057a9 19%, transparent 19%, transparent 21%, #79ce00 21%, #79ce00 39%, transparent 39%, transparent 41%, #fcff00 41%, #fcff00 59%, transparent 39%, transparent 41%, #fcff00 41%, #fcff00 59%, transparent 59%, transparent 61%, #ffb750 61%, #ffb750 79%, transparent 79%, transparent 81%, #ff0000 81%, #ff0000 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0057a9), color-stop(19%, #0057a9), color-stop(19%, transparent), color-stop(21%, transparent), color-stop(21%, #79ce00), color-stop(39%, #79ce00), color-stop(39%, transparent), color-stop(41%, transparent), color-stop(41%, #fcff00), color-stop(59%, #fcff00), color-stop(39%, transparent), color-stop(41%, transparent), color-stop(41%, #fcff00), color-stop(59%, #fcff00), color-stop(59%, transparent), color-stop(61%, transparent), color-stop(61%, #ffb750), color-stop(79%, #ffb750), color-stop(79%, transparent), color-stop(81%, transparent), color-stop(81%, #ff0000), color-stop(100%, #ff0000));
    background: -webkit-linear-gradient(left, #0057a9 0%, #0057a9 19%, transparent 19%, transparent 21%, #79ce00 21%, #79ce00 39%, transparent 39%, transparent 41%, #fcff00 41%, #fcff00 59%, transparent 39%, transparent 41%, #fcff00 41%, #fcff00 59%, transparent 59%, transparent 61%, #ffb750 61%, #ffb750 79%, transparent 79%, transparent 81%, #ff0000 81%, #ff0000 100%);
    background: -o-linear-gradient(left, #0057a9 0%, #0057a9 19%, transparent 19%, transparent 21%, #79ce00 21%, #79ce00 39%, transparent 39%, transparent 41%, #fcff00 41%, #fcff00 59%, transparent 39%, transparent 41%, #fcff00 41%, #fcff00 59%, transparent 59%, transparent 61%, #ffb750 61%, #ffb750 79%, transparent 79%, transparent 81%, #ff0000 81%, #ff0000 100%);
    background: -ms-linear-gradient(left, #0057a9 0%, #0057a9 19%, transparent 19%, transparent 21%, #79ce00 21%, #79ce00 39%, transparent 39%, transparent 41%, #fcff00 41%, #fcff00 59%, transparent 39%, transparent 41%, #fcff00 41%, #fcff00 59%, transparent 59%, transparent 61%, #ffb750 61%, #ffb750 79%, transparent 79%, transparent 81%, #ff0000 81%, #ff0000 100%);
    background: linear-gradient(to right, #0057a9 0%, #0057a9 19%, transparent 19%, transparent 21%, #79ce00 21%, #79ce00 39%, transparent 39%, transparent 41%, #fcff00 41%, #fcff00 59%, transparent 39%, transparent 41%, #fcff00 41%, #fcff00 59%, transparent 59%, transparent 61%, #ffb750 61%, #ffb750 79%, transparent 79%, transparent 81%, #ff0000 81%, #ff0000 100%);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
progress[value]::-webkit-progress-bar {
    background-color: transparent;
    position: relative;
}
progress[value]::-webkit-progress-value {
    width: 100%;
    background-color: #fff;
    background-size: 100%;
    position: relative;
    overflow: hidden;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}